{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:advert_view' advert.pk %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить статью "{{ advert.title }}"?</h1>
    <p>By: {{ advert.author }} | {{ advert.created_at }}</p>
    <form action="{% url "webapp:advert_delete" advert.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a href="{% url 'webapp:advert_view' advert.pk %}">Отмена</a></p>
    </form>
    <h3>Содержимое статьи: </h3>
    <p>{{ advert.text }}</p>
{% endblock %}